body { 
  margin: 0; 
  background: #fafafa;
}

.app { 
  max-width: 1280px; 
  margin: 40px auto; 
  padding: 0 16px; 
}

.title { 
  font-family: "AvenirBook";
  text-align: center;
  font-weight: 400; 
  font-size: 45px;
  margin-bottom: 24px; 
}