@font-face {
  font-family: "MontserratMedium";
  src: url("./assets/fonts/montserat/Montserrat-Medium.otf") format("opentype");
  font-weight: 500; 
  font-style: normal;
}

@font-face {
  font-family: "MontserratRegular";
  src: url("./assets/fonts/montserat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: "AvenirBook";
  src: url("./assets/fonts/avenir/Avenir-Book.ttf") format("truetype");
  font-weight: 400; 
  font-style: normal;
}